@import url('navbar.css');
@import url('sidebar.css');
@import url('content.css');
@import url('table.css');

:root {
  /* COLORS */
  --background-color: #fff;
  --primary-color: #2a3958;
  --light-primary-color: #6F80A0;
  --light-gray-color: #2a39580d;
  --highlight-color: #127cc1;
  --background-section: #2a39580d;
  --text-primary: #0b101a;
  --text-dark: #000000e0;
  --text-gray: #aeaeae;
  --pending-status: #ffedd5;
  --rejected-status: #fee2e2;
  --accepted-status: #dcfce7;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("../fonts/pretendard/Pretendard-SemiBold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("../fonts/pretendard/Pretendard-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Thin";
  src: url("../fonts/pretendard/Pretendard-Thin.otf");
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular", "Courier New", Courier, monospace !important;
  display: flex;
}

.text-bold {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.88);
}

.text-regular {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.88)
}

#not-found {
  display: none;
  transition: 0.3 all ease-in;
  font-family: "Pretendard-Regular" !important;
}